/* =================== */
/* formatting optimization */

.coursebox {
  position: relative;
  /* This line keeps the delete button for courses visible */

  background: #ffffff;
  /*box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),*/
  /*  0 2px 4px -1px rgba(0, 0, 0, 0.2);*/
  /*border-radius: 8px !important;*/

  padding-left: 20px !important;
  padding-right: 20px !important;

  transition: box-shadow ease-in 0.2s;
}

.coursebox:hover {
  /*box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),*/
  /*  0 3px 5px -1px rgba(0, 0, 0, 0.2);*/
}

/* =================== */
/* Helper universal */

.helper-hidden {
  display: none;
}

.helper-shown {
  display: block;
}

/* =================== */
/* For course-of-sem formatting */

.course-of-sem-wrapper {
  margin-bottom: 50px;
}

.course-of-sem-wrapper h2 {
  font-size: 2.46rem;
  line-height: 3.08rem;
  background: url(/theme/image.php/lambda/theme/1714524924/bg/block-divider)
    left bottom repeat-x scroll;
  margin: 30px 0px 40px !important;
  vertical-align: middle;
  /* for button */
}

.course-of-sem-wrapper h2::after {
  background: #00b48d none repeat scroll 0 0;
  content: "";
  display: block;
  height: 3px;
  margin-top: 15px;
  max-width: 75px;
  padding: 0;
  width: 50%;
}

.course-of-sem-wrapper #removeAll {
  float: right;

  color: #aaaaaa;
  font-weight: normal;
  cursor: pointer;
}

.course-of-sem .coursebox {
  min-height: 0px !important;
}

.course-of-sem .course-btn {
  margin-top: 1.5em;
}

.course-btn {
  /*margin-left: 20px;*/
}

/* Changing "click to enter this course" hover color*/
/* Need a p tag in front to override the original important */
.btn.btn-primary{
  margin-top: 0.2em !important;
}

p .btn-primary:hover {
  background-color: #099476 !important;
}

/* ===================== */
/* Add and Remove Button for "My courses" */

.helper-add-button,
.helper-remove-button {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16);
  margin-left: 6px;
  margin-bottom: 0px;
  order: 4;
  border: none;
  width: 222.5px;
}

.helper-add-button {
  background-color: #9AC555 !important;
  box-shadow: none;
}

.helper-add-button:hover {
  background-color: #7a9f4b !important;
  box-shadow: none;
}

.helper-remove-button {
  background-color: rgb(125, 143, 161)!important;
  padding-left: 0.1em !important;
  padding-right: 0.1em !important;
}

.helper-remove-button:hover {
  background-color: rgb(89, 100, 113)!important;
}

/* ============================= */
/* feedback button */

.helper-feedback {
  color: #aaaaaa;
  margin-top: 12px;
  width: 100%;
  text-align: right;
}

.helper-feedback p {
  margin-bottom: 0;
}

#helperFeedbackButton {
  text-decoration: underline;
  cursor: pointer;
}

#helperFeedbackInput {
  margin-top: 6px;
  margin-bottom: 6px;
}

/* Message box */
.helper-message-box .card-title::before {
  background-color: #00b48d !important;
  content: "\f1c9" !important;
}

.helper-sidebar-button-plus {
  width: 13px;
  height: 13px;
  line-height: 13px;
  text-align: center;
  cursor: pointer;
  margin: 0 0 0 6px;
  box-shadow: 0;
  color: #00b48d;
  font-weight: bold;
  border: 2px solid #00b48d;
  border-radius: 12px;
  background-color: transparent;
}

.helper-sidebar-button-plus:hover {
  border-color: #09886c;
  color: #09886c;
  background-color: transparent;
}

.helper-sidebar-button-minus {
  width: 13px;
  height: 13px;
  line-height: 13px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  margin: 0 0 0 6px;
  box-shadow: 0;
  color: rgb(125, 143, 161) !important;
  border: 2px solid rgb(125, 143, 161) !important;
  border-radius: 12px;
  background-color: transparent !important;
}

.helper-sidebar-button-minus:hover {
  border-color: rgb(106, 121, 134) !important;
  color: rgb(106, 121, 134) !important;
  background-color: transparent !important;
}

.helper-sidebar-wrapper {
  display: inline-block;
}
.history {
  display: inline;
  position: relative;
  top: 3px;
  left: 5px;
}
.fa.fa-history.history-icon {
  color: darkgrey;
  font-size: 20px;
}

.bubble {
  display: none;
  position: absolute;
  bottom: 40px;
  z-index: 1;
  height: 130px;
  width: 350px;
  border-radius: 10px 10px 10px 0;
  background-color: currentColor;
  animation: fade-in 0.5s;
  -moz-animation: fade-in 0.5s;
  -webkit-animation: fade-in 0.5s;
  opacity: 0.7;
  transition: all 1s ease-in;
}
.bubble i {
  position: absolute;
  border-width: 0;
  border-style: solid;
  border-color: transparent;
}
.bubble .text {
  padding: 5px 20px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 15px;
}
.history:hover .bubble {
  display: inline-block;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.4;
  }
  75% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.7;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
}

.message-list {
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  align-items: center;
}

.message-item {
  display: flex;
  justify-content: center;
  padding: 8px;
}
.message-item .text{
  margin-left: 5px;
  margin-right: 0.5rem;
  word-break:normal; 
  width:auto; 
  display:block; 
  white-space:pre-wrap;
  word-wrap : break-word ;
}
.message-item div {
  display: flex;
  align-items: center;
  max-width: 80%;
  padding: 0.6rem 1rem;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);
}

.message-item .icon {
  width: 2rem;
  height: 2rem;
  margin-right: 10px;
}

.message-item div span {
  font-size: 14px;
  line-height: 25px;
  
}

.fade-in {
  animation: fadeIn .3s ease forwards;
}

/* 淡入动画 */
@keyframes fadeIn {
  0% {
      opacity: 0;
      transform: translateY(-100%);
  }

  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

/* 淡出动画 */
.fade-out {
  animation: fadeOut .3s ease forwards;
}

@keyframes fadeOut {
  0% {
      opacity: 1;
      transform: translateY(0);
  }

  100% {
      opacity: 0;
      transform: translateY(-100%);
  }
}