/* =================== */
/* formatting optimization */

.coursebox{
  position: relative; 
  /* This line keeps the delete button for courses visible */

  background: #FFFFFF;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);
  border-radius: 8px !important;

  padding-left: 20px !important;
  padding-right: 20px !important;

  transition: box-shadow ease-in 0.2s;
}

.coursebox:hover{
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.20);
}

/* =================== */
/* Helper universal */

.helper-hidden {
  display: none;
}

.helper-shown {
  display: block;
}

/* =================== */
/* For course-of-sem formatting */

.course-of-sem-wrapper{
  margin-bottom: 50px;
}

.course-of-sem-wrapper h2 {
  font-size: 2.46rem;
  line-height: 3.08rem;
  background: url(/theme/image.php/hkumoodle/theme/1598314349/bg/block-divider) left bottom repeat-x scroll;
  margin: 30px 0px 40px !important;
  vertical-align: middle;  /* for button */
}

.course-of-sem-wrapper h2::after {
  background: #00b48d none repeat scroll 0 0;
  content: "";
  display: block;
  height: 3px;
  margin-top: 15px;
  max-width: 75px;
  padding: 0;
  width: 50%
}

.course-of-sem-wrapper #removeAll {
  float: right;
  
  color: #AAAAAA;
  font-weight: normal;
  cursor: pointer;
}

.course-of-sem .coursebox{
  min-height: 0px !important;
}

.course-of-sem .course-btn{
  margin-top: 1.5em;
}

.course-btn {
  margin-left: 20px
}

/* Changing "click to enter this course" hover color*/
/* Need a p tag in front to override the original important */
p .btn-primary:hover {
  background-color: #099476 !important;
}

/* ===================== */
/* Add and Remove Button for "My courses" */

.helper-add-button, .helper-remove-button {
  margin-left: 20px;
  margin-bottom:0px;
  order: 4
}

.helper-add-button {
  width: 196.5px;
}

.helper-remove-button {
  width: 250px;
  background-color: rgb(125, 143, 161);
}

.helper-remove-button:hover {
  background-color: rgb(106, 121, 134);
}

/* ============================= */
/* feedback button */

.helper-feedback {
  color: #AAAAAA;
  margin-top: 12px;
  width: 100%;
  text-align: right;
}

.helper-feedback p {
  margin-bottom: 0;
}

#helperFeedbackButton {
  text-decoration: underline;
  cursor: pointer;
}

#helperFeedbackInput {
  margin-bottom: 6px;
}

/* Message box */
.helper-message-box .card-title::before {
  background-color: #00b48d !important;
  content: "\f1c9" !important
}