.coursebox{
  position: relative;
}

/* =================== */
/* For course-of-sem formatting */

.course-of-sem{
  margin-bottom: 50px;
}

.course-of-sem .summary{
  display: none;
}

.course-of-sem .teachers{
  display: none;
}

.course-of-sem .coursebox{
  min-height: 0px !important;
}

.course-of-sem .course-btn{
  margin-top: 1.5em;
}

.course-btn {
  margin-left: 20px
}

/* Changing "click to enter this course" hover color*/
/* Need a p tag in front to override the original important */
p .btn-primary:hover {
  background-color: #099476 !important;
}

/* ===================== */
/* Add and Remove Button for "My courses" */

.helper-add-button, .helper-remove-button {
  margin-left: 20px;
  margin-bottom:0px;
  order: 4
}

.helper-add-button {
  width: 196.5px;
}

.helper-remove-button {
  width: 250px;
  background-color: rgb(125, 143, 161);
}

.helper-remove-button:hover {
  background-color: rgb(106, 121, 134);
}

/* =================== */
/* Searchbox formatting */

.my-courses-title {
  display: inline-block;
}

#helper-search {
  margin-left: 20px;
}

.helper-search-hide {
  display: none !important;
}

.helper-search-show {
  display: revert !important;
}